<section>
  <h2>Manage Users</h2>
  <div class="actions-section">
    <button
      (click)="openAddUserDialog()"
      color="primary"
      id="add-user-button"
      mat-button
      mat-raised-button
    >
      <mat-icon>add</mat-icon>
      Add user
    </button>
    <mat-checkbox
      (click)="toggleDisabled()"
      [checked]="showDisabled"
      color="primary"
      >Show disabled users
    </mat-checkbox>
  </div>

  <div class="table-wrapper">
    <div class="mat-elevation-z8">
      @if (dataSource) {
        <table [dataSource]="dataSource" mat-table>
          @for (
            column of tableHelper.baseColumnNames;
            track column;
            let i = $index
          ) {
            <ng-container [matColumnDef]="column">
              <th *matHeaderCellDef mat-header-cell>
                {{ tableHelper.baseColumnTitles[i] }}
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ tableHelper.nestedPropertyAccessor(element, column) | date }}
              </td>
            </ng-container>
          }
          <ng-container matColumnDef="edit">
            <th *matHeaderCellDef mat-header-cell>Edit</th>
            <td *matCellDef="let cell" mat-cell>
              <button
                (click)="openEditUserDialog(cell)"
                aria-label="Icon button with edit icon"
                color="primary"
                mat-icon-button
                class="edit-user-button"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th *matHeaderCellDef mat-header-cell>Delete</th>
            <td *matCellDef="let cell" mat-cell>
              <button
                (click)="deleteUser(cell)"
                aria-label="Icon button with delete icon"
                color="warn"
                mat-icon-button
                class="delete-user-button"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="tableHelper.allColumnNames" mat-header-row></tr>
          <tr
            *matRowDef="let row; columns: tableHelper.allColumnNames"
            mat-row
          ></tr>
        </table>
      }
    </div>
  </div>
  <app-paginator
    (load)="getPagedUsers($event)"
    [data]="pageUserResponseData"
    [requestParams]="requestParams"
  >
  </app-paginator>
</section>
