@use "styles/components/form/form-page" as *;
@use "styles/components/form/form" as *;


.sign-up {
  :hover {
    cursor: pointer;
  }

  padding-top: 100px;

  span {
    padding: 10px;
  }

  display: block;
}

#forget-password {
  :hover {
    cursor: pointer;
  }
}

