@use '@angular/material' as mat;
@import "theme";

$primary: mat.get-theme-color($my-theme, primary, 50);
$primary-light: mat.get-theme-color($my-theme, primary, 80);

$secondary: mat.get-theme-color($my-theme, secondary, 50);
$my-white: white;
$my-black: black;