.appointment-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  gap: 1em;

  h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .appointment-card {
    padding: 1.5em;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
  }

  .appointments {
    display: grid;
    gap: 0.5em;
    height: 30vh;
    overflow-x: auto;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);

    .appointment {
      width: fit-content;
      height: auto;
    }

  }

}