<mat-toolbar color="primary">
  <div>
    <button
      (click)="drawer.toggle()"
      aria-label="Example icon-button with menu icon"
      class="example-icon"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="PathConstants.HOME_PATH">Clinic System</a>
  </div>

  @if (authService.authData | async; as authData) {
    <div>
      <div class="name-container">
        Hello, {{ authData.name }} {{ authData.surname }}
      </div>
      <button (click)="logout()" mat-raised-button>Logout</button>
    </div>
  } @else {
    <div>
      <div class="name-container">Hello,Guest</div>
      <button [routerLink]="PathConstants.LOGIN_PATH" mat-raised-button>
        Login
      </button>
    </div>
  }
</mat-toolbar>

<mat-drawer-container autosize class="container">
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      @for (navItem of navItems; track navItem) {
        <app-nav-item
          [allowedRoles]="navItem.allowedRoles"
          [listItemPath]="navItem.listItemPath"
          [listItemText]="navItem.listItemText"
          [requireLogin]="navItem.requireLogin"
        ></app-nav-item>
      }
    </mat-nav-list>
  </mat-drawer>
  <div class="sidenav-content">
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
