<div class="form-card-wrapper">
  <div [ngClass]="class">
    <mat-card class="login-card">
      <mat-card-title>{{ action }}</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
          <div class="form-grid">
            <!-- Basic Data -->
            <div formGroupName="basicData">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput />

                <mat-error>
                  @if (
                    formControl.basicData.controls.name.invalid && submitted
                  ) {
                    <span>
                      {{ getErrorMessage('basicData', 'name') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input formControlName="surname" matInput />
                <mat-error>
                  @if (
                    formControl.basicData.controls.surname.invalid && submitted
                  ) {
                    <span>
                      {{ getErrorMessage('basicData', 'surname') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput />
                <mat-error>
                  @if (
                    formControl.basicData.controls.email.invalid && submitted
                  ) {
                    <span>
                      {{ getErrorMessage('basicData', 'email') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input formControlName="phoneNumber" matInput />
                <mat-error>
                  @if (
                    formControl.basicData.controls.phoneNumber.invalid &&
                    submitted
                  ) {
                    <span>
                      {{ getErrorMessage('basicData', 'phoneNumber') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>PESEL</mat-label>
                <input formControlName="pesel" matInput />
                <mat-error>
                  @if (
                    formControl.basicData.controls.pesel.invalid && submitted
                  ) {
                    <span>
                      {{ getErrorMessage('basicData', 'pesel') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password" />
                <mat-error>
                  @if (
                    formControl.basicData.controls.password.invalid && submitted
                  ) {
                    <span>
                      {{ getPasswordErrorMessage() }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input
                  formControlName="confirmPassword"
                  matInput
                  type="password"
                />
                <mat-error>
                  @if (
                    formControl.basicData.controls.confirmPassword.invalid &&
                    submitted
                  ) {
                    <span>
                      {{ getErrorMessage('basicData', 'confirmPassword') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Address -->
            <div formGroupName="address">
              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <input formControlName="country" matInput />
                <mat-error>
                  @if (
                    formControl.address.controls.country.invalid && submitted
                  ) {
                    <span>
                      {{ getErrorMessage('address', 'country') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input formControlName="city" matInput />
                <mat-error>
                  @if (formControl.address.controls.city.invalid && submitted) {
                    <span>
                      {{ getErrorMessage('address', 'city') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Street</mat-label>
                <input formControlName="street" matInput />
                <mat-error>
                  @if (
                    formControl.address.controls.street.invalid && submitted
                  ) {
                    <span>
                      {{ getErrorMessage('address', 'street') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Postal Code</mat-label>
                <input formControlName="postalCode" matInput />
                <mat-error>
                  @if (
                    formControl.address.controls.postalCode.invalid && submitted
                  ) {
                    <span>
                      {{ getErrorMessage('address', 'postalCode') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>House Number</mat-label>
                <input formControlName="houseNumber" matInput />
                <mat-error>
                  @if (
                    formControl.address.controls.houseNumber.invalid &&
                    submitted
                  ) {
                    <span>
                      {{ getErrorMessage('address', 'houseNumber') }}
                    </span>
                  }
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Apartment Number</mat-label>
                <input formControlName="apartmentNumber" matInput />
              </mat-form-field>
            </div>

            @if (!router.url.includes(PathConstants.REGISTER_PATH)) {
              <div>
                <!-- Admin Managed Data -->
                <ng-container formGroupName="adminManagedData">
                  <mat-checkbox formControlName="enabled">Enabled</mat-checkbox>
                  <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                      <mat-option [value]="UserRole.PATIENT"
                        >{{ UserRole.PATIENT }}
                      </mat-option>
                      <mat-option [value]="UserRole.DOCTOR"
                        >{{ UserRole.DOCTOR }}
                      </mat-option>
                      <mat-option [value]="UserRole.ADMIN"
                        >{{ UserRole.ADMIN }}
                      </mat-option>
                      <mat-option [value]="UserRole.REGISTRAR"
                        >{{ UserRole.REGISTRAR }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
                <!-- Doctor Managed Data -->
                @if (
                  formControl.adminManagedData.controls.role.value ===
                  UserRole.DOCTOR
                ) {
                  <ng-container formGroupName="doctorDetails">
                    <mat-form-field appearance="outline">
                      <mat-label>Specialization</mat-label>
                      <input formControlName="specialization" matInput />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Education</mat-label>
                      <input formControlName="education" matInput />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Description</mat-label>
                      <input formControlName="description" matInput />
                    </mat-form-field>
                  </ng-container>
                }
              </div>
            }
          </div>

          @switch (formType) {
            @case (FormType.WholePageForm) {
              <button mat-raised-button type="submit">Submit</button>
            }
            @case (FormType.PopupForm) {
              <ng-content></ng-content>
            }
            @default {
              <button mat-raised-button type="submit">Submit</button>
            }
          }
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
