@use 'styles/abstracts/colors' as *;
@use '@angular/material' as mat;


.footer {
  background-color: $secondary;
  color: white;
  padding: 1em;
  text-align: center;

  .mat-icon {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
  }

  .page-info {
    padding: 4em 2em 2em 2em;
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .contact-info {
      display: grid;
      width: 70%;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 2em;

      .contact-info-item {
        background-color: gray;
        padding: 2em;
        min-width: fit-content;

        h3 {
          font-size: 1.3rem;
        }

      }

      .social-media {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;
        gap: 0.4em
      }
    }

    .doctor-img {
      width: auto;
      height: 600px;
    }
  }
}





