<div class="features-wrapper page-wrapper">
  <div class="feature">
    <div>
      <mat-icon class="feature-icon">schedule</mat-icon>
      <h3>Save time</h3>
      <div class="border"></div>
    </div>
    <p>
      Patients are scheduled for specific times to minimize waiting time to a
      minimum.
    </p>
  </div>
  <div class="feature">
    <mat-icon>medical_services</mat-icon>
    <h3>Specialists at Your Service</h3>
    <div class="border"></div>
    <p>
      f you need expert care, look no further. Our clinic flaunts an array of
      specialists, including an otolaryngologies, ready to provide top-notch
      medical service.
    </p>
  </div>
  <div class="feature">
    <mat-icon>business</mat-icon>
    <h3>A Trusted Name in Healthcare</h3>
    <div class="border"></div>
    <p>
      Our clinic was established in 1987 by Tim Jones. His mission was to create
      a patient-focused health center providing high-quality healthcare for the
      community. Today, we continue his legacy, carrying forward his commitment
      to exceptional care, with a team of skilled professionals and
      state-of-the-art medical technology.
    </p>
  </div>
  <div class="feature">
    <mat-icon>place</mat-icon>
    <h3>Where-to-find us</h3>
    <div class="border"></div>
    <p>
      Easily accessible and properly situated, our clinic is located on the main
      thoroughfare. Convenient bus stops and dedicated car parking ensure ease
      of commute for patients.
    </p>
  </div>
  <div class="feature">
    <mat-icon>star</mat-icon>
    <h3>State-of-the-art Examinations</h3>
    <div class="border"></div>
    <p>
      Our clinic prides itself on offering a wide range of detailed ultrasound
      examinations. We have been honored with accreditation from the Polish
      Society of Ultrasonography for our excellent services.
    </p>
  </div>
  <div class="feature">
    <mat-icon>badge</mat-icon>
    <h3>Compassionate and Skilled Staff</h3>
    <div class="border"></div>
    <p>
      Our team, including environmental nurses with Master's degrees and an
      environmental midwife, is committed to providing personalized care. Our
      nursing staff and medical registrars diligently handle all scheduling of
      patient appointments.
    </p>
  </div>
  <div class="feature">
    <mat-icon>accessible</mat-icon>
    <h3>Disabled-friendly Infrastructure</h3>
    <div class="border"></div>
    <p>
      Keeping the needs of all our patients in mind, we have made sure our
      clinic is fully accessible to the disabled. With a specially designed
      entrance, elevator and convenient stairs to the upper floors, we've taken
      every step to ensure a comfortable visit for everyone.
    </p>
  </div>
  <div class="feature">
    <mat-icon>lock</mat-icon>
    <h3>Your Safety, Our Priority</h3>
    <div class="border"></div>
    <p>
      Our clinic is furnished with advanced bactericidal lamps in each office
      for optimal hygiene levels. Along with that, we also have a comprehensive
      ventilation system in place, enhancing the safety quotient for both our
      patients and staff.
    </p>
  </div>
</div>
